body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font size: 50px;
}

.orange-colr {
  color: orange;
}

section {
  display: flex;
  margin-bottom: 200px;
}

.half-w {
  width: 50%;
  padding-left: 3%;
}

.topb {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.linkb {
  background-image: linear-gradient(orange, tomato);
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
}

.half-w img {
  width: 80%;
}